.header-text{
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
    color: black;
    margin-left: 15px;

}
/* .text-align{
    padding-left: 50px;
} */
.header-text:hover{
    font-weight: 900;
    color: black;
}
.explore-btn{
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
}
.explore-btn:hover{
    font-weight: 900;
    color:white;
}
.web-name{
    font-weight: 900;
}
.header-title{
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
    color: black;
}
.header-title:hover{
    color:black;
}
.home-text{
    margin-left: 850px;
}